* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 100px;
}

.logo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Part1 {
    display: flex;
    background-image: url(../assets/banner-bk.jpg);
    flex-direction: column;
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text1 {
    margin-right: 100px;
    font-size: 20px;
}

.title1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.part1 {
    margin-left: 100px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.text2 {
    font-size: 20px;
    font-weight: 100;
}

.button1 {
    font-size: 17px;
    border-radius: 40px;
    padding: 13px;
    margin-top: 50px;
    width: 8%;
    background-color: #00FFAD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.Part2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.part2 {
    display: flex;
    justify-content: center;
    gap: 200px;
    text-align: center;
}

.titulo {
    font-size: 30px;
    text-align: center;
    padding: 80px;
}

.box1 {
    font-weight: 100;
}

.Part3 {
    padding: 50px;
    padding-top: 10%;
    display: flex;
    padding-left: 12%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(348deg, #00FFAD 0%, #00FFAD 50%, #ffffff 50%, #ffffff 100%);
}

.part3 p {
    font-weight: 100;
}


.titulo2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.button2 {
    font-size: 17px;
    color: white;
    border-radius: 40px;
    padding: 13px;
    margin-top: 50px;
    width: 30%;
    background-color: #192440;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.laptop {
    margin-bottom: 10%;
    margin-left: 17%;
}

.Part4 {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00FFAD;
}

.part4 {
    margin-left: 7%;
}

.tablet {
    margin-left: 10%;
}

.part4 h1 {
    font-size: 45px;
    margin-bottom: 20px;

}

.part4 p {
    font-weight: 100;
}

.button3 {
    font-size: 17px;
    color: white;
    border-radius: 40px;
    padding: 13px;
    margin-top: 50px;
    width: 33%;
    background-color: #192440;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.Part5 {
    padding: 50px 350px;
}

.Part5 h1 {
    text-align: center;
    margin: 40px 0px 40px 0px;
    font-size: 40px;
}

.cajas {
    display: flex;
    justify-content: space-around;
}

.cajas ul {
    list-style-type: none;
    margin-top: 10px;
    line-height: 2;
}

.caja1 {
    text-align: center;
    padding: 40px 0px;
}

.caja1 p {
    font-weight: bold;
}

.caja2 p {
    font-weight: bold;
}

.caja2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #192440;
    color: white;
    width: 30%;
    padding: 40px 0px;
    border-radius: 5px;
}

.numero0 {
    font-size: 74px;
    font-weight: bold;
}

.button4 {
    font-size: 17px;
    border-radius: 40px;
    padding: 13px 35px;
    margin-top: 50px;
    font-weight: 500;
}

.buttonMid {
    font-size: 17px;
    border-radius: 40px;
    padding: 13px 35px;
    margin-top: 50px;
    font-weight: 500;
    background-color: #00FFAD;
}

.imgFinal {
    display: flex;
    justify-content: space-evenly;
    background-color: #ECEEEF;
    padding: 3%;
    margin-top: 50px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0px 80px 0px;
    background: url(../assets/contact-bk.jpg);
}



.info {
    color: white;
}

.info h1 {
    font-size: 50px;
}

.info p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.info li {
    list-style: none;
    margin-top: 10px;
}

.formulario {
    color: #06FFAD;
}

.cuadro {
    background-color: transparent;
    border-color: #06FFAD;
    border-radius: 5px;
    width: 30vh;
    height: 4vh;
    color: white;
}

.nameEmail {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
}

.mensaje {
    width: 100%;
    background-color: transparent;
    border-color: #06FFAD;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
}

.buttonformulario {
    font-size: 17px;
    border-radius: 40px;
    padding: 13px 311px;
    margin-top: 23px;
    background-color: #00FFAD;
}

footer {
    /* display: flex;
    background-color: #192440;
    color: white; */
    height: 130px;
    background-color: #192440;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 180px;
}

.logos img {
    width: 5vh;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
}

.medium {
    height: 46px;
}

/* .facebook {
    width: 5vh;

}

.twitter {
    width: 5vh;

}

.medium {
    width: 5vh;

}

.linkedin {
    width: 5vh;

} */

@media (max-width: 1279px) {
    .button1 {
        width: 20%;
    }

    .Part2 h1 {
        font-size: 40px;
    }

    .part2 {
        gap: 35px
    }

    .part2 p {
        font-size: 14px;
        width: 90%
    }

    .Part3 {
        padding-left: 6%;
        padding-top: 15%;
        background-image: linear-gradient(348deg, #00FFAD 0%, #00FFAD 46%, #ffffff 46%, #ffffff 100%);
    }

    .Part3 img {
        zoom: 0.7;
    }

    .titulo2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .part3 p {
        font-weight: 100;
        font-size: 15px;
    }

    .button2 {
        font-size: 12px;
        padding: 10px;
        margin-top: 20px;
        width: 50%;
    }

    .Part4 {
        padding-bottom: 70px;
    }

    .Part4 img {
        zoom: 0.7;
    }

    .part4 {
        margin-left: 2%;
    }

    .part4 h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .part4 p {
        font-weight: 100;
        font-size: 15px;
    }

    .button3 {
        font-size: 12px;
        padding: 10px;
        margin-top: 30px;
        width: 35%;
    }

    .Part5 {
        padding: 50px 50px;
    }

    .numero0 {
        font-size: 65px;
    }

    .button4 {
        padding: 13px 25px;
    }

    .buttonMid {
        padding: 13px 25px;
    }

    .imgFinal {
        zoom: 0.7;
    }

    .buttonformulario {
        font-size: 15px;
        padding: 13px 156px;
    }

    .info h1 {
        font-size: 45px;
    }

    .info p {
        font-size: 15px;
    }

    .info li {
        font-size: 15px;
    }

    footer {
        height: 85px;
        padding: 0px 85px;
    }

    .medium {
        height: 43px;
    }

    footer p {
        font-size: 15px;
    }
}

@media (max-width: 920px) {
    .logo {
        width: 90px;
    }

    .text1 {
        margin-right: 70px;
    }

    .title1 {
        font-size: 40px;
    }

    .text2 {
        font-size: 15px;
    }

    .button1 {
        font-size: 15px;
    }

    .Part2 h1 {
        font-size: 35px;
    }

    .Part2 h2 {
        font-size: 20px;
    }

    .part2 img {
        width: 130px;
    }

    .part2 p {
        font-size: 12px;
    }

    .Part3 {
        padding-top: 20%;
        background-image: linear-gradient(348deg, #00FFAD 0%, #00FFAD 45%, #ffffff 45%, #ffffff 100%);
    }

    .Part3 img {
        zoom: 0.6;
    }

    .titulo2 {
        font-size: 26px;
    }

    .laptop {
        margin-bottom: 10%;
        margin-left: 8%;
    }

    .part3 p {
        font-size: 10px;
        width: 240px;
    }

    .button2 {
        font-size: 10px;
        padding: 10px;
        margin-top: 20px;
        width: 45%;
    }

    .Part4 img {
        zoom: 0.6;
    }

    .part4 h1 {
        font-size: 26px;
    }

    .part4 p {
        font-size: 10px;
        width: 280px;
    }

    .button3 {
        font-size: 10px;
        padding: 10px;
        margin-top: 30px;
        width: 40%;
    }

    .Part5 h1 {
        font-size: 35px;
    }

    .cajas h2 {
        font-size: 20px;
    }

    .numero0 {
        font-size: 50px;
    }

    .cajas li {
        font-size: 15px;
    }

    .imgFinal {
        zoom: 0.6;
    }

    .info h1 {
        font-size: 40px;
    }

    .info p {
        font-size: 10px;
    }

    .info li {
        font-size: 13px;
    }

    .formulario {
        font-size: 15px;
    }

    .cuadro {
        width: 25vh;
    }

    .buttonformulario {
        font-size: 13px;
        padding: 13px 131px;
    }

    footer p {
        font-size: 13px;
    }

    .medium {
        height: 42px;
    }

    /* .facebook {
        width: 4vh;

    }

    .twitter {
        width: 4vh;

    }

    .medium {
        width: 4vh;

    }

    .linkedin {
        width: 4vh;

    } */
}

@media (max-width: 768px) {

    .part1 {
        margin-left: 49px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .title1 {
        font-size: 25px;
    }

    .logo {
        width: 60px;
    }

    .text1 {
        margin-right: 70px;
        font-size: 15px;
    }

    .text2 {
        font-size: 10px;
        width: 240px;
    }

    .button1 {
        font-size: 10px;
        width: 25%;
    }

    .Part2 h1 {
        font-size: 20px;
    }

    .part2 img {
        width: 120px;
    }

    .Part2 h2 {
        font-size: 15px;
    }

    .part2 p {
        font-size: 10px;
        width: 95%;
    }

    .titulo2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .laptop {
        margin-bottom: 10%;
        margin-left: 1%;
    }

    .button2 {
        font-size: 7px;
        padding: 10px;
        margin-top: 10px;
        width: 35%;
    }

    .Part3 img {
        zoom: 0.3;
    }

    .Part4 img {
        zoom: 0.3;
    }

    .part4 h1 {
        font-size: 20px;
    }

    .part4 p {
        font-size: 10px;
        width: 240px;
    }

    .button3 {
        font-size: 7px;
        padding: 10px;
        margin-top: 30px;
        width: 37%;
    }

    .Part5 h1 {
        font-size: 25px;
        margin: 10px 0px 40px 0px;
    }

    .cajas h2 {
        font-size: 15px;
    }

    .cajas p {
        font-size: 10px;
    }

    .cajas li {
        font-size: 10px;
    }

    .numero0 {
        font-size: 25px;
    }

    .button4 {
        font-size: 10px;
    }

    .buttonMid {
        font-size: 10px;
    }

    .imgFinal {
        zoom: 0.4;
    }

    .info h1 {
        font-size: 30px;
    }

    .info p {
        font-size: 9px;
    }

    .info li {
        font-size: 9px;
    }

    .formulario {
        font-size: 12px;
    }

    .cuadro {
        width: 15vh;
    }

    .buttonformulario {
        font-size: 10px;
        padding: 13px 80px;
    }

    footer p {
        font-size: 10px;
    }

    .logos img {
        width: 4vh;
    }

    .medium {
        height: 35px;
    }
}

@media (max-width: 480px) {

    .logo {
        width: 50px;
    }

    .title1 {
        font-size: 30px;
    }

    .text1 {
        margin-right: 0px;
        font-size: 10px;
    }

    .Part1 {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .part1 {
        margin-left: 0px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .button1 {
        font-size: 12px;
        width: 100%;
    }

    .titulo {
        padding: 45px;
    }

    .part2 {
        text-align: center;
        display: inline;
    }

    .part2 img {
        width: 150px;
    }

    .Part2 h2 {
        font-size: 18px;
    }

    .part2 p {
        width: 100%;
    }

    .button2 {
        font-size: 10px;
        padding: 11px;
        margin-top: 20px;
        margin-bottom: 30px;
        width: 100%;
    }

    .Part3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 80px;
        background-image: linear-gradient(348deg, #00FFAD 0%, #00FFAD 38%, #ffffff 38%, #ffffff 100%);
    }

    .laptop {
        margin-bottom: 10%;
        margin-left: 0%;
    }

    .Part4 {
        flex-direction: column;
        align-items: center;
    }

    .tablet {
        margin-left: 0%;
    }

    .part4 {
        margin-left: 0%;
    }

    .part4 h1 {
        font-size: 20px;
        text-align: center;
    }

    .part4 p {
        text-align: center;
    }

    .button3 {
        font-size: 10px;
        padding: 10px;
        margin-top: 30px;
        width: 100%;
    }

    .cajas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja2 {
        width: 100%;
    }

    .imgFinal {
        display: flex;
        flex-flow: wrap-reverse;
        zoom: 0.6;
    }

    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        padding: 70px 0px 80px 0px;
    }

    .nameEmail {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .cuadro {
        width: 14vh;
    }

    .buttonformulario {
        font-size: 12px;
        padding: 13px 114px;
    }

    .info p {
        font-size: 10px;
    }

    .info li {
        font-size: 10px;
    }

    footer {
        height: 85px;
        padding: 0px 85px;
        flex-direction: column;
    }

    footer p {
        font-size: 10px;
        margin-top: 10px;
    }

    .medium {
        height: 34px;
    }
}